
<div class="banner"style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path 'edi-libedinsky-709320-unsplash.jpg' %>');">><h1>Tous les Cocktails</h1>
  </div>

<div class="container">
  <div class="row">
  <div class="row">

  <ul>
  <% @cocktails.each do |cocktail| %>
    <li><%= cocktail.name  %>
     <%=  link_to "detail", cocktail_path(cocktail.id) %>
      <%=  link_to "Ajouter ingredient", new_cocktail_dose_path(cocktail.id) %>



    </li>
  <% end %>
  </ul>
  <%= link_to "Create a new Cocktail", new_cocktail_path  %>
</div>



