<div class="container">

  <h1><%=  @cocktail.name  %></h1>
  <%=  link_to "Voir tous les cocktails", cocktails_path %>

  <h2>Recette</h2>
  <ul>
  <% @cocktail.doses.each do |dose|  %>
  <li><%= dose.description  %> de <%= dose.ingredient.name  %>
  <%= link_to dose_path(dose.id),
                    method: :delete,
                    data: { confirm: "Are you sure?" } do %>
                    <i class='far fa-trash-alt'></i>
              <% end %>
  </li>

  <% end %>
    <li><%= link_to "ajouter des doses", new_cocktail_dose_path(@cocktail)  %></li>
  </ul>
</div>
